@font-face{
    font-family: 'FiraSans';
    src: url('FiraSans-Regular.ttf');
    src: url ('FiraSans-Bold.ttf');
}


body {
    background-color: #FCFCFC;
}

header {
    background-color: #FCFCFC;
}
nav > ul > li > a {
    color: #fcfcfc;
    font-family: FiraSans-Regular;
}

nav > ul > li > a:hover {
    color: #d29349;
    text-decoration:none;
}

div > h1 {
    color: #d29349;
}

div > h2 {
    color: #4f4e4f;
}

div > h3 {
    color: #4f4e4f;
}

li > a {
    color: #fcfcfc;
}

button > a {
    color: #4f4e4f;
}

.row {
    background-color: #FCFCFC;
    font-family: FiraSans-Regular;
    padding-top: 2em;
    padding: 2em;  
}

#description {
    padding-top: 2em;   
}

#commentaire {
    padding-top: 2em;   
}


.btn-retour{
    width: 50%;
    padding: 10px;

}

#back:hover {
    text-decoration:none;
    background-color: #d29349;
    font-family: FiraSans-Bold;
    color: #FCFCFC;
} 

#back {
    text-decoration:none;
    color: #4f4e4f;
}