@font-face{
    font-family: 'FiraSans';
    src: url('FiraSans-Regular.ttf');
    src: url ('FiraSans-Bold.ttf');
}


body {
    background-color: #FCFCFC;
    font-family: FiraSans-Regular;
}

header {
    background-color: #FCFCFC;
}
nav {
    background-color: #8b7f7d;
}

nav > ul > li > a {
    color: #fcfcfc;
}
nav > ul > li > a:hover {
    color: #d29349;
    text-decoration:none;
}

.nav-modal {
    font-family: FiraSans-Regular;
}

div.container form > div.from-group > label {
    font-family: FiraSans-Regular;
}